<!DOCTYPE html>
<html lang="en">

	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

	<title>JavaScript. Module 15-16. Bogdan Derii</title>
	
	<link rel="stylesheet" href="css/reset.css">	
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
	<script src="js/tmpl.js"></script>
	<script src="js/script.js"></script>
	
	<link rel="icon" sizes="any" mask="" href="img/bing-icon.png">
	
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
	
</head>
<body>

	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<form action="#" id="bing-search-form">
					<a href="http://bing.com" class="logo"><img src="img/bing.png"></a>
					<div class="bing-search-box" role="search">
						<input class="bing-search-box-input" id="bing-search-form_q" name="q" title="Enter word or URL" type="search" maxlength="1000">
						<input type="submit" class="bing-search-box-submit" id="bing-search-form-go" title="Search" tabindex="0" name="go" value="">
					</div>
				</form>
			</div>
		</div>
	</div>
	<script type="text/html" class="content">
		<div id="bing-content">
			<ul id="bing-results">
				<% for (var i = 0; i < value.length; i++) { %>
				<li class="bing-algo">
				<div class="bing-title">
					<h4>
						<a href="<%= value[i].url %>" >
							<%= value[i].name %>
						</a>
					</h4>
				</div>
				<div class="bing-caption">
					<div class="bing-attribution">
						<cite>
							<%= value[i].displayUrl %>
						</cite>
					</div>
					<div class="bing-snippet">
						<p>
							<%= value[i].snippet %>
						</p>
					</div>
				</div>
				<% } %>
			</ul>
		</div>
	</script>
	
</body>
</html>